<!DOCTYPE html>
<html>

<head>
  <title>Accountant Career Opportunities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="{{ url_for('static', filename='jobposting.css') }}" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Sedan"
    }
  </style>
</head>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGTcHFU9WPiGvwDlH2NdhQgLRfnsCRV634Zw&s"
              style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>ACCOUNTANT</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Financial Professional</p>
            <p><i class="fa fa-line-chart fa-fw w3-margin-right w3-large w3-text-teal"></i>Accounting Firms, Corporations, Government Agencies</p>
            <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Notable
                Experts</b></p>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Luca Pacioli</b></h5>
                  <p>Mathematician and Friar</p>
                  <p>Luca Pacioli is widely known as the "Father of Accounting" for his pioneering work in double-entry bookkeeping during the Renaissance period.</p>
                  <a href="https://en.wikipedia.org/wiki/Luca_Pacioli" class="button-6" role="button">Read More</a>
                  <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>David Tweedie</b></h5>
                <p>Former Chairman of IASB</p>
                <p>Sir David Tweedie is recognized for his work on the International Financial Reporting Standards (IFRS), transforming global accounting practices.</p>
                <a href="https://en.wikipedia.org/wiki/David_Tweedie" class="button-6" role="button">Read More</a>
                <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Mary T. Washington</b></h5>
              <p>Pioneer in Accounting</p>
              <p>Mary T. Washington was the first African-American woman to become a certified public accountant (CPA) in the U.S., inspiring many in the accounting field.</p>
              <a href="https://en.wikipedia.org/wiki/Mary_T._Washington" class="button-6" role="button">Read More</a>
              <hr>
          </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educational Requirements</h2>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Bachelor's Degree in Accounting or Finance</b></h5>
                <p>Duration: Typically 4 years</p>
                <p>A Bachelor's degree in Accounting provides foundational knowledge in financial reporting, auditing, and tax laws.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Certified Public Accountant (CPA)</b></h5>
                <p>Duration: Varies (based on preparation for the CPA exam)</p>
                <p>The CPA certification is essential for public accountants, demonstrating expertise in accounting and financial practices.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Master's Degree in Accounting</b></h5>
                <p>Duration: 1-2 years</p>
                <p>A Master's in Accounting provides advanced knowledge in specialized areas such as forensic accounting, management accounting, and financial analysis.</p>
                <hr>
              </div>

        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal">Accounting Journals</i></h2>

          <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://m.media-amazon.com/images/I/71YhyJA2eOL._AC_UF1000,1000_QL80_.jpg" alt="Journal of Accountancy" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Journal of Accountancy</h2>
                  <p>The Journal of Accountancy is a key resource for accounting professionals, featuring articles on tax, auditing, and financial reporting.</p>
                  <p><a href="https://www.journalofaccountancy.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkwRz0q7BitNtVjMHy8LRe6ZsTrrd28jr40w&s" alt="The CPA Journal" style="width:100%; height:60%;">
                <div class="container">
                  <h2>The CPA Journal</h2>
                  <p>The CPA Journal is a publication for certified public accountants, offering insights on accounting standards, ethics, and industry updates.</p>
                  <p><a href="https://www.cpajournal.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="https://arizent.brightspotcdn.com/dims4/default/bdec862/2147483647/strip/true/crop/553x746+0+0/resize/740x998!/quality/90/?url=https%3A%2F%2Fsource-media-brightspot.s3.us-east-1.amazonaws.com%2Fde%2F8b%2Facd5a8384c28bbb84c93038c2616%2Fms1.PNG" alt="Accounting Today" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Accounting Today</h2>
                  <p>Accounting Today is a leading news source for the accounting profession, covering regulations, tax laws, and technological developments in finance.</p>
                  <p><a href="https://www.accountingtoday.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- End Right Column -->

    </div> <!-- End Grid -->

  </div> <!-- End Page Container -->
</body>

</html>
