<!DOCTYPE html>
<html>

<head>
  <title>Artist Career Opportunities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="{{ url_for('static', filename='jobposting.css') }}" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Sedan"
    }
  </style>
</head>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img
              src="https://img.freepik.com/free-vector/male-artist-painter-cartoon-illustration-people-profession-icon-concept_138676-1900.jpg?size=338&ext=jpg&ga=GA1.1.2008272138.1726099200&semt=ais_hybrid"
              style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>ARTIST</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-paint-brush fa-fw w3-margin-right w3-large w3-text-teal"></i>Visual Artist</p>
            <p><i class="fa fa-building fa-fw w3-margin-right w3-large w3-text-teal"></i>Art Galleries, Studios, Freelance</p>
            <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Notable
                Experts</b></p>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Leonardo da Vinci</b></h5>
                  <p>Painter, Sculptor, and Inventor</p>
                  <p>Leonardo da Vinci is one of history's most celebrated artists, known for masterpieces such as "The Mona Lisa" and "The Last Supper".</p>
                  <a href="https://en.wikipedia.org/wiki/Leonardo_da_Vinci" class="button-6" role="button">Read More</a>
                  <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Pablo Picasso</b></h5>
                <p>Painter and Sculptor</p>
                <p>One of the most influential artists of the 20th century, Pablo Picasso was a pioneer of Cubism and other revolutionary art styles.</p>
                <a href="https://en.wikipedia.org/wiki/Pablo_Picasso" class="button-6" role="button">Read More</a>
                <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Frida Kahlo</b></h5>
              <p>Painter</p>
              <p>Frida Kahlo is celebrated for her surrealist, self-reflective paintings that capture both personal and political themes.</p>
              <a href="https://en.wikipedia.org/wiki/Frida_Kahlo" class="button-6" role="button">Read More</a>
              <hr>
          </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educational Requirements</h2>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Bachelor of Fine Arts (BFA)</b></h5>
                <p>Duration: Typically 3-4 years</p>
                <p>A BFA degree provides foundational skills in drawing, painting, sculpture, and multimedia art, as well as art history and theory.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Master of Fine Arts (MFA)</b></h5>
                <p>Duration: 2-3 years</p>
                <p>An MFA offers advanced study in a specific area of artistic practice, allowing for specialization in painting, sculpture, or digital art.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Artistic Workshops and Residencies</b></h5>
                <p>Duration: Varies</p>
                <p>Many artists further their skills and network by participating in workshops, residencies, and exhibitions at art institutions worldwide.</p>
                <hr>
              </div>

        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal">Art Journals and Publications</i></h2>

          <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://image.isu.pub/190820061847-745bdde7c1155864c2eda11c444c0a4c/jpg/page_1.jpg" alt="Artforum" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Artforum</h2>
                  <p>Artforum is a leading international magazine covering contemporary art, artists, and exhibitions worldwide.</p>
                  <p><a href="https://www.artforum.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="https://static.frieze.com/files/styles/issue/public/issue/cover/hurin-anderson-frieze-cover-223.jpg?itok=shB114jU" alt="Frieze" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Frieze</h2>
                  <p>Frieze is a contemporary art and culture magazine, covering exhibitions, artists, and trends in the global art world.</p>
                  <p><a href="https://www.frieze.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="https://cdn.sanity.io/images/cxgd3urn/production/3c72dd9b21089d9f075722fef0a32dfb91add014-1155x1600.jpg?w=1920&h=2660&fit=crop&auto=format" alt="The Art Newspaper" style="width:100%; height:60%;">
                <div class="container">
                  <h2>The Art Newspaper</h2>
                  <p>The Art Newspaper offers news on exhibitions, auctions, and developments in the international art market.</p>
                  <p><a href="https://www.theartnewspaper.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- End Right Column -->

    </div> <!-- End Grid -->

  </div> <!-- End Page Container -->
</body>

</html>
