<!DOCTYPE html>
<html>

<head>
  <title>Electrical Engineer Career Opportunities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="{{ url_for('static', filename='jobposting.css') }}" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Sedan"
    }
  </style>
</head>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img
              src="https://static.vecteezy.com/system/resources/previews/006/402/319/original/person-and-bolt-concept-of-electrical-engineer-flat-icon-vector.jpg"
              style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>ELECTRICAL ENGINEER</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Engineering Professional</p>
            <p><i class="fa fa-lightbulb-o fa-fw w3-margin-right w3-large w3-text-teal"></i>Power Generation Companies, Manufacturing, Research Institutes</p>
            <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Notable
                Experts</b></p>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Thomas Edison</b></h5>
                  <p>Inventor and Electrical Engineer</p>
                  <p>Known for his work in electricity, Thomas Edison invented the electric light bulb and contributed to the development of electrical power distribution.</p>
                  <a href="https://en.wikipedia.org/wiki/Thomas_Edison" class="button-6" role="button">Read More</a>
                  <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Nikola Tesla</b></h5>
                <p>Electrical Engineer and Inventor</p>
                <p>Nikola Tesla is renowned for his contributions to alternating current (AC) power, wireless communication, and electromagnetism.</p>
                <a href="https://en.wikipedia.org/wiki/Nikola_Tesla" class="button-6" role="button">Read More</a>
                <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>James Clerk Maxwell</b></h5>
              <p>Physicist and Electrical Engineer</p>
              <p>Maxwell developed the theory of electromagnetism, laying the foundation for modern electrical engineering.</p>
              <a href="https://en.wikipedia.org/wiki/James_Clerk_Maxwell" class="button-6" role="button">Read More</a>
              <hr>
          </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educational Requirements</h2>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Bachelor's Degree in Electrical Engineering (B.E./B.Tech)</b></h5>
                <p>Duration: Typically 4 years</p>
                <p>A Bachelor’s degree in Electrical Engineering covers subjects like circuit analysis, electromagnetism, power systems, and electronic devices.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Master’s Degree in Electrical Engineering (M.E./M.Tech)</b></h5>
                <p>Duration: 1-2 years</p>
                <p>A Master’s degree provides advanced training and specialization in fields such as power systems, control systems, or telecommunications.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Professional Engineer (PE) License</b></h5>
                <p>Duration: Varies by region</p>
                <p>Obtaining a PE license is essential for higher-level positions and involves passing the Fundamentals of Engineering (FE) exam, followed by the PE exam.</p>
                <hr>
              </div>

        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal">Electrical Engineering Journals</i></h2>

          <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8J5yJCsI8apkBwC-ASKbuqtjpKVm1QeV8fw&s" alt="IEEE Spectrum" style="width:100%; height:60%;">
                <div class="container">
                  <h2>IEEE Spectrum</h2>
                  <p>IEEE Spectrum is a widely respected magazine covering technology and engineering, with a focus on electrical engineering, telecommunications, and power systems.</p>
                  <p><a href="https://spectrum.ieee.org/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="https://sciendo-parsed.s3.eu-central-1.amazonaws.com/6472125e215d2f6c89dbabf2/cover-image.jpg" alt="Electrical Engineering Journal" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Electrical Engineering Journal</h2>
                  <p>This journal publishes peer-reviewed articles on developments in electrical and electronic engineering, including power systems and circuit analysis.</p>
                  <p><a href="https://www.springer.com/journal/202" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQi5NBOtUF3oFvcWinQHKUD6JaZrhqSnH8QA&s" alt="Power Electronics Journal" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Power Electronics Journal</h2>
                  <p>Focused on the rapidly evolving field of power electronics, this journal publishes research on power converters, control systems, and energy systems.</p>
                  <p><a href="https://www.journals.elsevier.com/power-electronics" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- End Right Column -->

    </div> <!-- End Grid -->

  </div> <!-- End Page Container -->
</body>

</html>
