<!DOCTYPE html>
<html>

<head>
  <title>Graphic Designer Career Opportunities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="{{ url_for('static', filename='jobposting.css') }}" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Sedan"
    }
    .row {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 10px;
  }

  </style>
</head>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img
              src="https://img.freepik.com/free-vector/creative-designer-drawing-tablet-graphic-tablet-illustration_1150-64658.jpg"
              style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>GRAPHIC DESIGNER</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Design Professional</p>
            <p><i class="fa fa-paint-brush fa-fw w3-margin-right w3-large w3-text-teal"></i>Advertising Agencies, Freelance Work, Corporate Design</p>
            <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Notable
                Experts</b></p>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Paul Rand</b></h5>
                  <p>Graphic Designer</p>
                  <p>Paul Rand is known for creating iconic corporate logos, including those for IBM, UPS, and ABC, and is considered one of the most influential graphic designers of the 20th century.</p>
                  <a href="https://en.wikipedia.org/wiki/Paul_Rand" class="button-6" role="button">Read More</a>
                  <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Saul Bass</b></h5>
                <p>Graphic Designer and Filmmaker</p>
                <p>Saul Bass is famous for his motion picture title sequences and logos, including iconic film posters and logos for major companies such as AT&T.</p>
                <a href="https://en.wikipedia.org/wiki/Saul_Bass" class="button-6" role="button">Read More</a>
                <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Milton Glaser</b></h5>
              <p>Graphic Designer</p>
              <p>Milton Glaser, designer of the famous "I ♥ NY" logo, was a pioneering figure in modern graphic design, renowned for his creative work in branding and poster design.</p>
              <a href="https://en.wikipedia.org/wiki/Milton_Glaser" class="button-6" role="button">Read More</a>
              <hr>
          </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educational Requirements</h2>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Bachelor's Degree in Graphic Design (BFA)</b></h5>
                <p>Duration: Typically 4 years</p>
                <p>A Bachelor's degree in Graphic Design covers visual communication, typography, digital illustration, and design principles.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Certificate Programs in Graphic Design</b></h5>
                <p>Duration: 6 months to 1 year</p>
                <p>These programs offer specialized training in graphic design software like Adobe Illustrator, Photoshop, and InDesign, often focusing on industry tools and portfolio development.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Master’s Degree in Graphic Design</b></h5>
                <p>Duration: 1-2 years</p>
                <p>A Master's degree provides advanced design theory, creative problem-solving, and research opportunities for graphic designers seeking higher-level positions.</p>
                <hr>
              </div>

        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal">Graphic Design Journals</i></h2>

          <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://image.isu.pub/120703194003-69a1f2f63bf84e4c8cda185e6874b565/jpg/page_1.jpg" alt="Communication Arts" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Communication Arts</h2>
                  <p>Communication Arts is a leading publication in visual communications, focusing on graphic design, advertising, illustration, and typography.</p>
                  <p><a href="https://www.commarts.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="https://image.isu.pub/120808112848-7e2c2854a3804d8cb5ee453aa550d41a/jpg/page_1_thumb_large.jpg" alt="Eye Magazine" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Eye Magazine</h2>
                  <p>Eye Magazine is an international graphic design journal that explores design in print, branding, typography, and visual culture.</p>
                  <p><a href="https://www.eyemagazine.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="https://www.printmag.com/wp-content/uploads/2016/09/2a34d8_5b4c14f12a004bde97f5f41bc19ca5ffmv2.jpg" alt="Print Magazine" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Print Magazine</h2>
                  <p>Print Magazine is one of the most prestigious design publications in the world, showcasing innovative design across different mediums and platforms.</p>
                  <p><a href="https://www.printmag.com/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- End Right Column -->

    </div> <!-- End Grid -->

  </div> <!-- End Page Container -->
</body>

</html>
