<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="/Pages/Job Posting/Job Posting Page/style.css">
    <link rel="stylesheet" href="/Pages/Job Posting/Job Posting Page/animation.css"> -->
    <link href="{{ url_for('static', filename='jobposting.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='animation.css') }}" rel="stylesheet">

</head>
<body>
    <section class="skills">
        <div class="container">
            <div class="skills-flex-container">
                <div class="box" data-category="marketing">
                    <div class="image">
                        <img src="{{ url_for('static', filename='Marketing.png') }}" alt="xd">
                      </div><div class="title">Marketing</div></div>
                <div class="box" data-category="sales-business"><div class="image">
                    <img src="{{ url_for('static', filename='Business.png') }}" alt="xd">
                  </div><div class="title">Sales / Business</div></div>
                <div class="box" data-category="product"><div class="image">
                    <img src="{{ url_for('static', filename='Product.png') }}" alt="xd">
                  </div><div class="title">Product</div></div>
                <div class="box" data-category="project-management"><div class="image">
                    <img src="{{ url_for('static', filename='Project.png') }}" alt="xd">
                  </div><div class="title">Project Management</div></div>
                <div class="box" data-category="data"><div class="image">
                    <img src="/{{ url_for('static', filename='Data.png') }}" alt="xd">
                  </div><div class="title">Data Analysis</div></div>
                <div class="box" data-category="devops"><div class="image">
                    <img src="{{ url_for('static', filename='Devops.png') }}" alt="xd">
                  </div><div class="title">DevOps / Sysadmin</div></div>
                <div class="box" data-category="finance-legal"><div class="image">
                    <img src="{{ url_for('static', filename='Finance.png') }}" alt="xd">
                  </div><div class="title">Finance / Legal</div></div>
                <div class="box" data-category="hr"><div class="image">
                    <img src="{{ url_for('static', filename='HR.png') }}" alt="xd">
                  </div><div class="title">Human Resources</div></div>
                <div class="box" data-category="qa"><div class="image">
                    <img src="{{ url_for('static', filename='QA.png') }}"alt="xd">
                  </div><div class="title">QA</div></div>
                <div class="box" data-category="writing"><div class="image">
                    <img src="{{ url_for('static', filename='Writing.png') }}" alt="xd">
                  </div><div class="title">Writing</div></div>
                <div class="box" data-category="all-others" id="last-box"><div class="image">
                    <img src="{{ url_for('static', filename='Others.png') }}" alt="xd">
                  </div><div class="title">All Others</div></div>
                
            </div>
        </div>
    </section>
   
    <main class="main">
        <div class="container">
            <div class="scroll">
                <!-- Job cards will be dynamically added here -->
            </div>
        </div>
    </main>
<script src="{{ url_for('static', filename='jobposting.js') }}"></script>

</body>
</html>
