<!DOCTYPE html>
<html>

<head>
  <title>Journalist Career Opportunities</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="{{ url_for('static', filename='jobposting.css') }}" rel="stylesheet">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Sedan"
    }

    .row {
    display: flex;
  }

  .column {
    flex: 33.33%;
    padding: 10px;
  }

  </style>
</head>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-white w3-text-grey w3-card-4">
          <div class="w3-display-container">
            <img
              src="https://static.vecteezy.com/system/resources/previews/041/646/917/original/illustration-of-journalist-avatar-vector.jpg"
              style="width:100%" alt="Avatar">
            <div class="w3-display-bottomleft w3-container w3-text-black">
              <h2>JOURNALIST</h2>
            </div>
          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Media Professional</p>
            <p><i class="fa fa-newspaper-o fa-fw w3-margin-right w3-large w3-text-teal"></i>News Agencies, Online Media, Broadcast Journalism</p>
            <hr>

            <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-black"></i>Notable
                Experts</b></p>
                <div class="w3-container">
                  <h5 class="w3-opacity"><b>Edward R. Murrow</b></h5>
                  <p>Broadcast Journalist</p>
                  <p>Edward R. Murrow is a pioneering figure in broadcast journalism, known for his war reports and courageous journalism during World War II.</p>
                  <a href="https://en.wikipedia.org/wiki/Edward_R._Murrow" class="button-6" role="button">Read More</a>
                  <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Christiane Amanpour</b></h5>
                <p>Chief International Anchor, CNN</p>
                <p>Christiane Amanpour is an internationally renowned journalist, known for her fearless reporting from conflict zones and high-profile interviews.</p>
                <a href="https://en.wikipedia.org/wiki/Christiane_Amanpour" class="button-6" role="button">Read More</a>
                <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Bob Woodward</b></h5>
              <p>Investigative Journalist</p>
              <p>Bob Woodward is a legendary investigative journalist, best known for his reporting on the Watergate scandal, which led to the resignation of President Nixon.</p>
              <a href="https://en.wikipedia.org/wiki/Bob_Woodward" class="button-6" role="button">Read More</a>
              <hr>
          </div>
            <br>
          </div>
        </div><br>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Educational Requirements</h2>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Bachelor's Degree in Journalism or Communications</b></h5>
                <p>Duration: Typically 3-4 years</p>
                <p>A Bachelor's degree in Journalism provides foundational skills in writing, reporting, media ethics, and multimedia production.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Master's Degree in Journalism (optional)</b></h5>
                <p>Duration: 1-2 years</p>
                <p>For those looking to specialize or deepen their expertise, a Master's degree offers advanced training in investigative reporting, multimedia journalism, and global news coverage.</p>
                <hr>
              </div>
              <div class="w3-container">
                <h5 class="w3-opacity"><b>Internships and Field Experience</b></h5>
                <p>Duration: Varies</p>
                <p>Most aspiring journalists gain hands-on experience through internships with newspapers, television stations, or online media platforms.</p>
                <hr>
              </div>

        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16">
            <i class="fa fa-suitcase fa-fw w3-margin-right w3-text-teal">Journalism Journals</i></h2>

          <div class="row">
            <div class="column">
              <div class="card">
                <img src="https://files.magzter.com/resize/magazine/1333992425/17/view/3.jpg" alt="Columbia Journalism Review" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Columbia Journalism Review</h2>
                  <p>The Columbia Journalism Review (CJR) is a leading voice in journalism, offering critical analysis, insight, and commentary on the media industry.</p>
                  <p><a href="https://www.cjr.org/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          
            <div class="column">
              <div class="card">
                <img src="https://content.time.com/time/photoessays/2011/twitter_adds/nieman_lab.jpg" alt="Nieman Journalism Lab" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Nieman Journalism Lab</h2>
                  <p>Nieman Journalism Lab focuses on the future of journalism in the digital age, covering innovation in newsrooms and media strategies.</p>
                  <p><a href="https://www.niemanlab.org/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
            
            <div class="column">
              <div class="card">
                <img src="https://www.poynter.org/wp-content/uploads/2023/08/WLA-IG-General-Card-Aug-2023-1.jpg" alt="Poynter" style="width:100%; height:60%;">
                <div class="container">
                  <h2>Poynter</h2>
                  <p>Poynter is a globally recognized institute for journalism, offering training and resources for both aspiring and professional journalists.</p>
                  <p><a href="https://www.poynter.org/" class="button-6" role="button">Go to Site</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div><!-- End Right Column -->

    </div> <!-- End Grid -->

  </div> <!-- End Page Container -->
</body>

</html>
