<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Roadmap - Buisness and Finance</title>
  <link rel="stylesheet" href="road.css" />
</head>

<body>
    <h1>Super Mario Timeline</h1>
    <p>Initial launch dates of games in the Super Mario series. </p>
    <ul class="timeline">
        <li><time datetime="1985-09">High School Education (10+2)</time>Focus on subjects like Economics, Mathematics,and English.These subjects will provide a good foundation for your future studies in business and finance.</li>
        <li><time datetime="1986-06">Bachelor's Degree</time>Enroll in a Bachelor's degree in Commerce (B.Com) or Business Administration (BBA) with a specialization in Finance. This will give you a solid understanding of business principles and financial management.</li>
        <li><time datetime="1988-10">Internships</time>While pursuing your degree, look for internships in financial institutions, banks, or business firms. This will give you practical exposure and help you understand the workings of the industry.</li>
        <li><time datetime="1988-10">Postgraduate Degree </time>Consider pursuing a postgraduate degree like an MBA in Finance or a Master's in Commerce (M.Com). This can provide you with advanced knowledge and can be beneficial for higher positions in the future.</li>
        <li><time datetime="1989-04">Certifications</time>There are various certifications like Chartered Financial Analyst (CFA), Financial Risk Manager (FRM), Certified Financial Planner (CFP), etc., that can boost your profile. Choose the one that aligns with your career goals.</li>
        <li><time datetime="1990-11">Job Entry</time>Start with entry-level positions in the finance department of companies, banks, or financial consultancies. This will give you real-world experience and help you understand the dynamics of the market.</li>
        <li><time datetime="1992-10">Continuous Learning and Networking</time>Stay updated with the latest trends in the finance industry. Attend workshops, seminars, and networking events. This will not only enhance your knowledge but also help you connect with people in the industry.</li>
    </ul>
</body>

</html>